h1
{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 60px;
    line-height: 30px;
    font-weight: bold;
    letter-spacing: 3px;
    text-align: center;
    color: black;
}

body
{
    background-color: bisque;
}

.NavBar
{
    background-color: white;
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    
}

.Instructions
{
    display: inline-block;
    padding-right: 40px;
    padding-left: 30px;  
}

.brain_image_map
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.Disclaimer
  {
      position: fixed;
      left: 0px;
      bottom: 0px;
      width: 100%;
      color: black;
      background-color: bisque;
      font-size: small;
      font-style: italic;
      text-align: center;
  }